<form  action="/newPage" method="POST">

<select name="location_name">
    {{#each locations}}
        <option value ='{{category_name}}>
             {{category_name}}
           </option>
    {{/each}}
</select>
</form