<h1>Homepage</h1>

<form  id="search-for-location" action="/" method="POST">

    <input type="text" placeholder="enter zipcode or city" name="location">

    <br><br>

    <button onclick="submit" name="submit"></button>

</form>