
<div class="title">Where to Go?</div>
<form  id="search-for-location" action="/" method="POST">
    <div class="homepage-div"> 
    <input class="input-homepage" type="text" placeholder="Enter the zipcode or the city name" name="location"><button class="button-style" onclick="submit" type="submit">submit</button>
</div>
</form>